@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/*----------Colors-------*/
$main--color:#9A1663;
$secondary--color: #E0144C;
$numberPage--color: #FF5858;
$Select--color: #FF5858;
//#FF5858
//#FF97C1


/*---------Fonts---------*/
$titles: 'Karla', sans-serif;
$paragraph: 'Nunito', sans-serif;