@use '../../../styles/Variables.scss' as v;
@import '../../../styles/resposinve/Responsive.scss';


.S_message{
    display: flex;
    justify-content: center;
    .response_ok{
        width: 300px;
        background-color: springgreen;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        font-family: v.$paragraph;
        font-size: 1.1rem;
        border-radius: 3px;
    }

    
    .response_error{
        width: 300px;
        background-color: v.$secondary--color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        font-family: v.$paragraph;
        font-size: 1.1rem;
        border-radius: 3px;
    }
}


